.container {
    display: flex;
    width: 90%;
    margin-bottom: 15px;
}

.row {
    width: 100%;

}

.header {
    height: 100px;
    width: 100%;
    background-color: goldenrod;
    border-radius: 3px;
    margin: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px;

}


.addtocard {
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}

.head {
    background-color: goldenrod;
    border-radius: 3px;
    height: 60px;
    padding: 10px;
    margin: 15px 0px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 30px;
}



.foot {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333333a4;
}

.table .data th {
    font-size: 20px;
    padding: 20pxpx 0px;
}

.table tr {
    text-align: center;
}

.table td button {
    border: 0;
    border-radius: 5px;
    padding: 4px 10px;
}

.table td .delete {
    color: red;
    cursor: pointer;
}