* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';

}

a {
    text-decoration: none;
    font-size: 22px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.cart , .user{
    margin-left: 15px;
}

.cart a i ,.user a i{
    color: goldenrod;
    padding: 10px;
    background-color: white;
    border-radius: 12px;
}


.fa-solid {
    color: goldenrod;

}

.cart p ,.user a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: goldenrod;
    color: white;
}

.addcards img {
    margin-bottom: 18px;
}

.addcards img:hover {
    transform: scale(0.9);
    transition: 0.5s;
    
}

.addcards .title {
    font-size: 15px;
}

.btn {
    border: none;
   font-weight: 500;
    display: block;
  
}

.btn:hover {
    background-color: transparent;
     color: black;
    transition: 0.5s;
     border: 1px solid black;
}

.addcards .title h2 {
    padding: 20px 0px;
    font-size: 35px;
    font-weight: 600;
}

.button-container {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .qty {
    width: 130px;
    text-align: center;
    font-weight: 500;
}
  
  

.foot {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333333a4;
}

.table .data th {
    font-size: 20px;
    padding: 20pxpx 0px;
}

.table tr {
    text-align: center;
}

.table td button {
    border: 0;
    border-radius: 5px;
    padding: 4px 10px;
}

.addtocard {
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}


.foot #total {
    font-size: 25px;
    font-weight: 700;
}


  
  
/* Responsive styles */
@media (max-width: 768px) {
    .nav {
        display: none;
        width: 100%;
        justify-content: center;
        background-color: #333333;
    }

    .nav-list {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-list li {
        margin: 15px 0;
    }

    .hamburger-menu {
        display: block;
    }

    .nav.show {
        display: flex;
    }
}